@import "../../global.scss";


.works{
  background-color: pink;
  background: -webkit-linear-gradient(rgb(250, 14, 218), rgb(125, 225, 255));

  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;

  .arrow{
    height:50px;
    position:absolute;
    cursor:pointer;

    @include for-phone-only{
      display: none;
     }

    &.left{
      left: 100px;
      transform: rotate(90deg);
      // transform: rotateX(200deg)

    }

    &.right{
      right: 100px;
      transform: rotate(270deg);

    }
  }

  .slider{
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include for-phone-only{
      height: 100vh;
      flex-direction: column;
      justify-content: center;
     }

    .container{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item{
        width: 900px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include for-phone-only{
          width: 90%;
          height: 180px;
          margin: 5px 0;
         }

        .left{
          flex: 4;
          height: 100%;
          background-color:black ;

          .leftContainer{
            width: 90%;
            height:70%;
            padding-left:20px;
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            justify-content: space-between;
            // background-color: black;
            color: white;

            @include for-phone-only{
              padding:10px;
             }

            h2{
              font-size: 40px;

              @include for-phone-only{
                font-size: 15px;
               }
            }
            p{
              font-size: 16px;    

              @include for-phone-only{
                display:none;
               }        
            }

            .iconContainer{
              display: flex;
              align-items: center;
              justify-content: space-between;
              span{
                font-size: 12px;
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;

              }
            }

          }
        }

        .right{
          flex: 8;
          height: 100%;
          display: flex;
          justify-content: center;
          background-color: white;

          .img{
            object-fit: cover;
          }
        }
      }
    }
  }
}